# Ignore everything...
**

# ...except dotfiles...
!.**
!.*/**

# ...that are not:

# misc temp
**.tmp
**.bak

# history files
**hst
**hsts
**hist**
**HIST**

# logs
**.log

# sensitive information
**.*credentials?
**.*auth*
.config/gh/hosts.yml

# other
**.viminfo
**.Xdefaults
**.cshrc
**.cvsrc
**.login
**.mailrc
**.ssh
**.xsession-errors

