# Ignore everything...
**

# ...except dotfiles...
!.**
!.*/**

# ...that are not:

# misc temp
**.tmp
**.bak
**cache**

# history files
**hst
**hsts
**hist**
**HIST**

# logs
**.log

# sensitive information
**.*credentials?
**.*auth*

# other
**.Xdefaults
**.cshrc
**.cvsrc
**.login
**.mailrc
**.ssh
**.xsession-errors
**.templateengine

