# Ignore everything...
**

# ...except dotfiles...
!.**
!.*/**

# ...that are not:

# misc temp
**.tmp
**.bak

# history files
**hst
**hist**
**HIST**

# logs
**.log

# sensitive information
**.*credentials?

# other
**.viminfo

