[user]
	email = 76186754+yuri-norwood@users.noreply.github.com
	name  = yuri-norwood

[credential]
	helper = cache --timeout 30000

[pull]
	rebase = true

[fetch]
	prune = true

[remote.origin]
	prune = true

[color]
	diff = true
	status = true
	branch = true
	interactive = true
	ui = true
	pager = true
	branch = true
	decorate = true
	grep = true
	showBranch = true

[diff]
	colorMoved = zebra
	colorMovedWS = allow-indentation-change

